{% extends 'home/base.html' %}
{% block title %} Announcement {% endblock title %}
{% block addnotification %} active {% endblock addnotification  %}
{% block body %} 


<form id="assignment-submit-form" enctype="multipart/form-data" method="POST" >
  {% csrf_token %}
    <div class="form-group">
        <label>Title</label>
        <input required="" name="ann_title" id="title" class="form-control">
    </div>

    <div class="form-group">
        <label>Description</label>
        <textarea required="" name="message" id="description" rows="5" class="form-control"></textarea>
    </div>

    <div class="form-group">
    <label>Parents Avaviality</label>
	<select name="selector" required="" class="form-select" aria-label="Default select example">
	  <option value="Yes" selected>Yes</option>
	  <option value="No">No</option>
	</select>
    </div>
    <div class="form-group">
        <label>Image (jpg,png,jpeg)</label>
        <input  type="file" class="form-control" id="edit-choose-files" name="ann_upload" data-resize="1080" accept=".jpg,.png,.jpeg" >
    </div>



    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <table id="edit-preview-table" class="table">
        <thead id="edit-columns"><tr><td style="width: 100%;"></td></tr></thead>
        <tbody id="edit-previews">

        </tbody>
    </table>
</form>
<script type="text/javascript">
    (function(global) {
        var imagesPerRow = 1,
            chooseFiles,
            columns,
            previews;

        function PreviewImages() {
            $('#edit-preview-table #edit-previews').html("");
            $('#edit-preview-table').fadeIn();
            var row;
            Array.prototype.forEach.call(chooseFiles.files, function(file, index) {
                var cindex = index % imagesPerRow,
                    oFReader = new FileReader(),
                    cell,
                    image;

                if (cindex === 0) {
                    row = previews.insertRow(Math.ceil(index / imagesPerRow));
                }

                image = document.createElement("img");
                image.id = "img_" + index;
                image.style.width = "200px";
                image.style.height = "auto";
                cell = row.insertCell(cindex);
                cell.appendChild(image);



                cell = row.insertCell(1);



                oFReader.addEventListener("load", function assignImageSrc(evt) {
                    image.src = evt.target.result;
                    this.removeEventListener("load", assignImageSrc);
                }, false);

                oFReader.readAsDataURL(file);
            });
        }


        // global.removeEventListener("load", windowLoadHandler);
        chooseFiles = document.getElementById("edit-choose-files");
        columns = document.getElementById("edit-columns");
        previews = document.getElementById("edit-previews");

        var row = columns.insertRow(-1),
            header,
            i;

        for (i = 0; i < imagesPerRow; i += 1) {
            header = row.insertCell(-1);
            header.style.width = (100 / imagesPerRow) + "%";
        }
        chooseFiles.addEventListener("change", PreviewImages, false);
    }(window));








</script>


{% endblock  %}